<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*如果当前是开发环境就使用下面的css引用代码*@
    <environment include="Development">
        <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <h1>我是在模板文件中放置的内容</h1>
    <nav class="navbar navbar-light bd-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Navbar</span>
        </div>
    </nav>
    <div>
        <!--
            我们制作的页面都会渲染到RenderBody()标记的地方
        -->
        @RenderBody()
    </div>

    <hr />

    <div>
        <!--
            指定一个渲染Section,名称叫bottom
            required: false => 表示并不是一个页面都需要有这一部分
        -->
        @RenderSection("bottom", required: false)
    </div>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
</body>
</html>
