@using _03_Tutorial.Web.model;
@model IEnumerable<Student>;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View测试</title>
</head>
<body>
    <h1>Students</h1>
    <ul>
        <!--
            最上方的(小写)model是为了告诉下面的(大写)Model对应的数据类型
            (大写)Model是后端传过来的对象(后端传过来一个List,List中包含了若干个Student对象)
        -->
        @foreach (var s in Model)
        {
            <li>@s.FirstName - @s.LastName</li>
        }
    </ul>
</body>
</html>
